[2021-07-09 15:13] fccoelho opened #1 "Continue to extend the list of data sources"
Look for additional data sources we could integrate, and add a brief description of them on the README
Datasets:

- [x] OWID
- [x] FOPH
- [x] Colombia COVID data
- [ ] Add others here...

[2021-07-18 11:08] fccoelho commented on #1
A `Data Sources` page should also be created on the sphinx documentation.

[2021-07-28 11:31] fccoelho opened #2 "Develop server deployment scripts wtih Ansible"
Ansible is a powerful  tool to remotely manage servers through Python scripts called playbooks.

For this issue we'll develop the basic setup of the  server, to facilitate not only new deploys but also the setup of local development environment matching that of the server.

[2021-07-30 20:15] fccoelho opened #4 "Protocol for OWID capture"
Our World in data offers an important dataset with COVID case counts for the whole world.
https://github.com/owid/covid-19-data/tree/master/public/data

This issue should propose a protocol for importing their data into our platform and keeping them up-to-date.
Additionally, scripts should be created to automate this protocol.

[2021-07-30 20:23] #2 closed

[2021-07-30 20:26] fccoelho commented on #1
It's there already.

[2021-08-03 13:07] fccoelho commented on #4
This version has been  tested  and is working.  @JyotiDalal93, you and benedict could add logging (using the python logging module) to the script so that we can monitor it more easily.

It can be run remotely, but the idea is to run directly on the server as a CRON task.

[2021-08-04 18:41] fccoelho opened #5 "Script to load GADM maps"
develop a script to load GADM maps into the database.

[2021-08-09 16:35] fccoelho opened #7 "Integration with DHIS2"
Develop a procedure to load [DHIS2](dhis2.org) into epigraphhub database.

For this issue, let's create a Notebook for fetching data from DHIS2 from any DHIS2 server using the [dhis2.py](https://github.com/davidhuser/dhis2.py) library.

Optionally, we will also exemplify how to load resulting data to the EpigraphHub database.

[2021-08-09 18:13] fccoelho commented on #7
@benguimbis could you try to add to a notebook, some examples from [here](https://docs.dhis2.org/en/develop/using-the-api/dhis-core-version-235/web-api.html#webapi_analytics)?

You can follow the examples from the existing notebooks

[2021-08-11 15:52] fccoelho commented on #4
## Desired improvements:

- [ ]  Avoid destroying and recreating the table at every update.
- [ ] Add indexing by date and country code

[2021-08-12 12:04] #4 closed

[2021-11-24 09:31] fccoelho commented on #5
Done

[2021-11-24 09:31] #5 closed

[2021-12-17 12:11] fccoelho opened #8 "Adding FOPH COVID Data"
As described in issue #1,  this issue will tackle the replication of the daily COVID tables from FOPH (Switzerland) in order to serve as a local copy to feed our dashboards.

[2021-12-20 15:55] fccoelho opened #10 "Enable CD for data collection scripts"
Currently, to update data-collection scripts, one has to git pull from this repo on the server and make sure all requirements are installed in the local virtualenv, and test run the new scripts to see if all requirements are met.

We need to automate this workflow.

[2021-12-22 17:27] #8 closed

[2021-12-22 17:37] fccoelho opened #11 "Create special user to run web applications"
A user named `hubapp` needs to be created to run web applications.
This will help to isolate  the configurations needed just for app frameworks such as  streamlit.

The hubapp user will own the process of the apps. Update scripts needed by the apps should be managed through this user's crontab

[2021-12-22 17:49] #11 closed

[2021-12-22 18:52] fccoelho opened #12 "Create ansible playbook to start/retart apps"
We need a playbook to start, stop and restart apps (whenever code is updated, for example)

For example, for Streamlit apps such as the [COVID-CH](https://github.com/thegraphnetwork/COVID-CH-dashboard) dashboard, some requirements must be guaranteed:

1. A virtualenv is set up per app, and all requirements in the requirements.txt in the app are installed into it;
2. When restarting an app, the Git

[2021-12-28 20:23] fccoelho opened #13 "make_forecast.py script is incomplete"
This script does not have an implementation of the get updated data.

and it is also expecting to find the get_data module to import from

[2021-12-29 13:09] eduardocorrearaujo commented on #13
I added the get_data module. In this module is defined the function get_updated_data.

[2022-01-03 15:36] fccoelho commented on #10
We have an ansible playbook to manage the CRON table, but the scripts are in this repo, so we need a way to trigger a git pull from our server every time we get a new push to *main* here. Not sure what the best way to accomplish this.

[2022-01-03 15:40] fccoelho commented on #12
Technically, Streamlit  could run the dashboard straight from GitHub. This is a possibility worth exploring.

[2022-01-03 15:40] #13 closed

[2022-01-03 15:51] xmnlab commented on #10
sounds great. thanks!

[2022-01-03 23:59] xmnlab opened #14 "SUPPORT: gitignore was not merged correctly"
gitignore file was merged with git conflicts: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/.gitignore#L141

[2022-01-04 10:21] fccoelho opened #15 "Logging in `make_forecast.py` not working"
this script adopted the [loguru](https://loguru.readthedocs.io) library to manage logging, but it is not running, i.e. not creating `/var/log/forecast.log`

[2022-01-04 10:28] fccoelho commented on #15
Found the  problem: make_forecast was raising an exception when tying to import `lightgbm` which was not available in the virtualenv. Fixed in the server. will add to requirements.txt

[2022-01-04 10:42] fccoelho commented on #15
Fixed requirements.txt in this [commit](https://github.com/thegraphnetwork/EpiGraphHub/commit/25da93dd0afe213614f8d81a5a3f99d732b71934)

[2022-01-04 10:42] #15 closed

[2022-01-04 16:08] xmnlab commented on #10
I think that the simplest way to do that would be to have a cron task every 5 minutes that updates the repository locally on production.

but probabably a better approach here would be to have a ssh key on github and use ansible on CI to execute a specific playbook that updates the git repo locally on the server.

[2022-01-05 09:26] fccoelho opened #17 "Create Ansible playbook to upgrade Superset"
Every time a new [release](https://github.com/apache/superset/releases) is available, we need to:

1. pip install -U superset
2. run `superset db upgrade`
3. run `superset init`
4. restart superset service.

[2022-01-06 14:51] fccoelho opened #19 "Bug in make_forecast.py"
the following exception is being raised:

[code]

[2022-01-07 10:48] fccoelho commented on #19
The exception is still happening @eduardocorrearaujo, even after you latest PR

[2022-01-14 10:40] #19 closed

[2022-01-14 10:44] fccoelho opened #23 "Avoid reporting delay in the training of the models"
We have determined that the delay in reporting for the cases is <=3 for most cases, thus to avoid the underprediction bias in the forecast, we should use for the forecast, the predictors without the last three points `[:-3]`.

[2022-01-14 14:35] xmnlab opened #24 "move make_forecast.py to epigraphhub_py"
from @fccoelho

[2022-01-14 16:39] dcpcamara commented on #23
Thanks, I'll make sure to add this into the Epinow script.

---------
*Daniel C. P. Câmara, PhD.*

*Laboratório de Mosquitos Transmissores de Hematozoários - LATHEMA, Fiocruz*
*Núcleo** Operacional Sentinela de Mosquitos Vetores - NOSMOVE, Fiocruz*
*Incident Management Support Team - IMST, WHO Afro*

*The GRAPH Network, UNIGE*
*Rio de Janeiro, Brasil*

Em sex., 14 de jan. de 2022 às 07:45, Flávio

[2022-01-15 03:11] eduardocorrearaujo commented on #23
Ok

[2022-01-18 09:40] #23 closed

[2022-01-18 09:42] fccoelho opened #26 "Bug in make_forecast.py"
Make forecast is failing with the new ngboost models:

[code]

[2022-01-24 14:18] xmnlab opened #28 "patch the template of Superset's login page"
from @fccoelho

[2022-01-26 09:12] fccoelho commented on #26
@eduardocorrearaujo how is this? fixed?

[2022-01-26 09:15] fccoelho opened #29 "bug in FOPH UPSERT"
Update of FOPH datasets stopped updating in january 20th.

[2022-01-26 09:21] #29 closed

[2022-01-26 16:21] eduardocorrearaujo commented on #26
Fixed!

[2022-01-26 16:21] #26 closed

[2022-01-26 16:22] eduardocorrearaujo opened #30 "Separate train and prediction scripts in make_forecast"

[2022-01-26 16:33] fccoelho opened #31 "Improve logging of make_forecast.py"
The current log messages are not very  informative.
All messages must specify which model is being trained.

[2022-01-27 10:16] #31 closed

[2022-01-27 13:52] xmnlab opened #33 "[performance] forecast.sh takes too long to be executed"
On CI forecast.sh script takes too long and 2h for the CI is not enough. Ignoring that, CI takes just 20 minutes.

Running it locally using a core i3, 4:20 hours was not enough to run half of the forecast calls (`make_forecast` and `make_forecast_all_cantons`).

it would be good to have a way to improve the performance of this script.

[2022-01-29 12:14] eduardocorrearaujo opened #34 "get_colombia_data"
I'm working to get the Colombia data and by now it's almost 6 million lines. So, I'm getting the data from the API in chunks of 10000 records.

To make this code faster, what you think it's better:
- Get all the dataframe and so compare them to the data in the database using pangres to only save the new records or compare the data for each chunk of 10000 to the database to save the new records?

[2022-01-29 17:09] fccoelho commented on #34
@eduardocorrearaujo  please create a draft PR with the code you already have.

[2022-01-31 19:04] eduardocorrearaujo commented on #34
I put the script here: https://github.com/thegraphnetwork/EpiGraphHub/blob/get_colombia_data/Data_Collection/CRON_scripts/colombia_data.py

[2022-02-06 16:40] fccoelho opened #36 "Migrate Data Collection scripts to Apache Airflow"
[Apache Airflow](https://airflow.apache.org) is a python based distributed task manager that can be adopted to run our our data collection tasks.

The main advantages of such  a migration are

1. Nice web-based interface to monitor and manage tasks
2. Complete compatibility with docker
3. Can also be used to monitor server load and log files

[2022-02-08 20:14] eduardocorrearaujo opened #38 "Add documentation to upload data using R"
It's necessary to add documentation to upload the data in R following the python example: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/Documentation/datasources.md.

[2022-02-08 21:06] dcpcamara commented on #38
Can you be a bit more clear, I did not understand exactly what should be done.

[2022-02-14 15:49] #34 closed

[2022-02-14 15:51] fccoelho opened #40 "Bug in the colombia script"
After a while the script stops with the following exception:
[code]

[2022-02-14 20:07] eduardocorrearaujo commented on #40
I solved this problem in the last commit that I did.

[2022-02-15 09:16] #40 closed

[2022-02-15 09:21] #1 closed

[2022-02-15 09:25] fccoelho opened #43 "Updated Ansible CRON Playbook"
Update CRON Playbook to include scheduling of `colombia.sh` execution on the server.

[2022-02-15 23:49] eduardocorrearaujo opened #44 "Instructions to name the tables in the database"
It's necessary to create instructions to name the tables. It's essential to consider the following possibilities for the tables:

- Table static or with update periodically;

- Result from an analysis (that can be used in a dashboard or report) or data used as input in the analysis;

- Table that contains the explanation of the columns of another table.

[2022-02-16 07:42] fccoelho commented on #44
Proposed naming scheme:
all names should always be lower case.
Schema names:
Single country data: full ISO country name
global scale data: `global`

Table names:
data tables:
`<locality>_<semantic single word name>_<0|D|W|M>_<optional suffix>`

`<>` symbols are just delimiters. On postgis tables representing maps, a `gis` prefix can be added.

The last portion should inform about the periodicity o

[2022-02-16 17:56] dcpcamara commented on #44
If I want to name the table with the results from the Epinow model for Switzerland, it should be:

 ?

[2022-02-17 13:15] dcpcamara commented on #38
@eduardocorrearaujo would you have schedule for a meeting to discuss this?

[2022-02-17 14:26] eduardocorrearaujo commented on #38
Hi, Daniel, sorry for the time to answer. I have not seen your message before. I already solved this issue by adding an example to upload data to the database in this file: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/Documentation/datasources.md

Take a look at this file and let me know if the section `using R` it's clear.

[2022-02-19 17:40] eduardocorrearaujo commented on #44
I think that should be: `CH_epinow_<option>_D_result`. In '<option>' I think that should be 'used cases', 'hosp' or 'rt' to better understand which curve the table is related to. What do you think, @fccoelho?

[2022-02-19 17:59] eduardocorrearaujo commented on #44
We should keep using the full name for the schemas or just the ISO code. For example, to create a schema for Brazilian data, I should name the schema as `Brazil` or `BRA`?

Another thing that I think should be clear in the documentation is how to name the `<locality>`. If the data is for the entire country, I think that the ISO code should be used, but if the data is for a specific part of the cou

[2022-02-19 20:21] xmnlab commented on #44
Would the table name be entirely lowercase? Based on one of firsts comments posted by @fccoelho , I understood that, but in the examples I sar some uppercases. Maybe I misunderstood it.

[2022-02-20 03:46] eduardocorrearaujo commented on #44
I reread the Flavio comment, and you are right, Ivan. Thank you for noticing that. Another thing that I think is important is keeping all the column names in lowercase.

[2022-02-20 13:59] xmnlab commented on #44
sure thing :)

Normally, for every name used for database (database, table, schema, field etc) or filesystem (file and folder) I use lowercase, without any special character or white space.

[2022-02-21 06:40] fccoelho commented on #44
We have to be able to freeze snapshots of datasets, for example, to match published analyses to guarantee reproducibility.
I propose we use a `snapshots` schema for that, with the same name of the original table but with the string `YYYY_M_D` as  suffix. What do you think?

[2022-02-21 06:43] fccoelho commented on #44
We should the standard used in GADM.org I think.

[2022-02-21 10:07] fccoelho commented on #28
The template that needs updating is [this one](https://github.com/apache/superset/blob/9773aba522e957ed9423045ca153219638a85d2f/superset/templates/superset/public_welcome.html).

It should be maintained here, in this repository, so that Superset installation can be patched with it  at every new release.

[2022-02-21 11:03] eduardocorrearaujo commented on #44
<img width="729" alt="Captura de Tela 2022-02-21 às 08 03 16" src="https://user-images.githubusercontent.com/65051489/154942871-21f0954f-3295-455e-943f-98837d286ac4.png">

So, should we use the values shown in the map id column or in the name column?

[2022-02-21 11:18] fccoelho commented on #44
in the `name` column.

[2022-02-21 11:29] #28 closed

[2022-02-21 14:26] fccoelho commented on #44
In order to close this issue, we need a volunteer to add these naming standards to the platform's documentation

[2022-02-21 14:31] eduardocorrearaujo commented on #44
I can do this.

[2022-02-21 15:32] fccoelho opened #47 "Spaces around names in colombia dataset"
As this query shows
https://epigraphhub.org/superset/sqllab/?savedQueryId=7
the strings in `ciudad_municipio_nom` have spaces before them.

This makes "correct" queries such as
[code]
fail. To fix it we need to resort to pattern matching which is more costly. This is possibly true for other textual columns as well.

In order to fix, this we can either  reload  the entire  table and stripping the w

[2022-02-21 15:45] dcpcamara commented on #47
I would suggest a previous cleaning of all text variables to a standardized
pattern (such as lower_case, for instance). Then converting to a desired
pattern if one of such variables is used for linkage.

---------
*Daniel C. P. Câmara, PhD.*

*Laboratório de Mosquitos Transmissores de Hematozoários - LATHEMA, Fiocruz*
*Núcleo** Operacional Sentinela de Mosquitos Vetores - NOSMOVE, Fiocruz*
*Incide

[2022-02-21 17:25] eduardocorrearaujo commented on #47
I think it's better to reload all the dataset. Since a routine to remove these spaces will need to be incorporated in the scripts to get this data to avoid errors in the future. Do you want that I change upper characters to lower characters too?

[2022-02-21 19:40] fccoelho commented on #47
for the data (city names, etc) it is not necessary to change the case. It's recommended to leave it as close to the original as possible.

[2022-02-23 09:24] #43 closed

[2022-03-04 16:09] fccoelho opened #54 "Create a Deployment for KoBoToolbox"
We need to run an instance of KoboToolBox to support our field data collection.
Fortunately it is already very simple to deploy as it is completely containerized.

https://github.com/kobotoolbox/kobo-install

All we need is to automate the management of the instances with Ansible and setup a subdomain for it. For example kobo.epigraphhub.org

[2022-03-04 17:47] dcpcamara commented on #54
I believe we can do this very easily via R and using their API (
https://kc.kobotoolbox.org/api/v1/). Do we have the forms and privileges (a
user login and pass) to download and start working on it?

---------
*Daniel C. P. Câmara, PhD.*

*Laboratório de Mosquitos Transmissores de Hematozoários - LATHEMA, Fiocruz*
*Núcleo** Operacional Sentinela de Mosquitos Vetores - NOSMOVE, Fiocruz*
*Incident M

[2022-03-04 20:15] fccoelho commented on #54
We first have to complete this issue, which is to actually get KoBoToolbox running on our server.  Then we can create the users and use the APIs.
I have already deployed it on my laptop in a little more than 5 minutes, so @xmnlab should be able to have it deployed on our server very  soon

[2022-03-04 22:40] xmnlab commented on #54
I am trying to install it for "server" but it is failing because it is trying to use the same port of the current nginx.
I am investigating the problem. any recommendation?

[2022-03-04 22:44] xmnlab commented on #54
I am taking a look into this approach: https://github.com/kobotoolbox/kobo-install/issues/54

[2022-03-05 11:23] fccoelho commented on #54
Here was the same thing. It has it's own web server container that listens at port 80. According to the README  the advanced options let's you pick a different port, I haven't tried to fiddle with the advanced options.

[2022-03-05 13:08] xmnlab commented on #54
it seems that the configuration for ports is just for workstation (not server).
For server, we need to use something like this: https://github.com/kobotoolbox/kobo-install/issues/54

[code]

I tried, but it didn´t work well. it is waiting for some result for a long time .. but never worked (until my ssh session disconeect).

I need to investigate it more.

[2022-03-06 10:50] #47 closed

[2022-03-06 13:35] fccoelho opened #56 "Missing .env in production"
`foph_fetch.py` has stopped downloading since february 14 because of a missing .env file. That happened when the script was updated
Ansible file has to be somehow updated to create the .env file as well.

meanwhile, I am creating a .env file manually

[2022-03-08 08:24] fccoelho opened #57 "Create scatterplot visualization plugin for Superset"
Superset does not come with a pure scatterplot implementation type

This issue aims to implement one similar to the one we use in the [CH dashboard](https://github.com/thegraphnetwork/COVID-CH-dashboard/blob/608495aae8f9c0228b8c44675caa190f92e381cc/plots.py#L54)

The documentation for creating a viz plugin is [here](https://superset.apache.org/docs/contributing/creating-viz-plugins)

[2022-03-08 08:30] fccoelho commented on #57
I found thins in their storybook:
https://apache-superset.github.io/superset-ui/?path=/story/chart-plugins-preset-chart-xy-scatterplot--basic
But it is not available in the 1.4.0 release we are using.

[2022-03-08 08:51] fccoelho commented on #57
Since it must be impleented in Javascript these examples would be a great starting point: https://echarts.apache.org/examples/en/#chart-type-scatter

[2022-03-08 15:34] fccoelho opened #58 "make_forecast script is failing with an Indentation error"
At least this exception is responsible for the forecast not being updated for days:

[code]

[2022-03-15 20:25] fccoelho opened #62 "Improve the template of the login page"
We need to make the EpigraphHUb login page more interesting and informative.

One Idea is to add some screenshots and text with an ovrview of the features  of the tool. We can use the [Supeset home page](https://superset.apache.org/) as inspiration.

The template for the page is this: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/docker/superset/public_welcome.html
The template is a jin

[2022-03-16 15:33] xmnlab commented on #54
server is up and running :)
https://kobo.epigraphhub.org/

is there anything else for this issue? or could it be closed?

[2022-03-16 16:16] dcpcamara commented on #54
Congratulations, my friend!

[2022-03-17 09:09] fccoelho opened #63 "Enable other locales for the translation of the web UI in superset"
We need urgently to enable dynamic i18n based on brwoser language in superset.

It should be a matter of setting available locales in `superset_config.py`. I have found the discussion below which can be helpful:

https://stackoverflow.com/questions/66756215/how-to-set-the-language-of-the-apache-superset-in-docker

[2022-03-21 14:13] xmnlab commented on #56
we could do it using the data from github secrets. I will keep one eyes on it.

[2022-03-21 14:17] xmnlab commented on #54
the smtp service is already working.

for now, it is ready for testing.
maybe we can establish some time for testing and we can release it officially for production.

[2022-03-21 14:17] #54 closed

[2022-03-21 14:18] #44 closed

[2022-03-21 14:20] xmnlab commented on #38
according to this comment: https://github.com/thegraphnetwork/EpiGraphHub/issues/38#issuecomment-1043005739
it seems it was already solved.

[2022-03-21 14:20] #38 closed, assigned to dcpcamara

[2022-03-21 14:21] xmnlab commented on #36
sounds very nice. I am adding it to my backlog. maybe I can work on it in 1 or 2 weeks.
@fccoelho let me know if I should prioritize this one.

[2022-03-21 14:23] xmnlab commented on #30
@eduardocorrearaujo
should we move this issue to epigrpahubpy?

[2022-03-21 14:32] xmnlab commented on #17
this task is almost done. it works locally, but it is not working from CI. I need to fix the ssh connection from CI to the server.

[2022-03-21 16:47] eduardocorrearaujo commented on #30
Yes, it's better.

[2022-03-23 14:32] fccoelho opened #64 "Enable user registration on Apache superset."

[2022-03-23 14:35] fccoelho opened #65 "Query from Google sheet not working"
This is the eror message:

[code]

I remember on the old deploy I had to manually install the google sheets plugin for  sqlalchemy:
https://superset.apache.org/docs/databases/google-sheets

[2022-03-24 03:48] xmnlab commented on #65
it seems that there is some problem with `enum34`:

epigraphhub_1     | 2022-03-24 03:44:31,144:WARNING:superset.views.base:[SupersetError(message="The 'enum34' distribution was not found and is required by the application", error_type=<SupersetErrorType.GENERIC_DB_ENGINE_ERROR: 'GENERIC_DB_ENGINE_ERROR'>, level=<ErrorLevel.ERROR: 'error'>, extra={'engine_name': 'Google Sheets', 'issue_codes': [{'

[2022-03-24 10:29] fccoelho commented on #65
Didi you install `Shillelagh`?

[2022-03-24 13:04] xmnlab commented on #65
oh nop, I will try that.

sorry, I was confused because in the link you shared, there is another link to https://preset.io/blog/2020-06-01-connect-superset-google-sheets/

and there they are using: `gsheetsdb`

[2022-03-24 13:09] fccoelho commented on #65
Right, but I think that currently they are using Shillelagh for that

[2022-03-24 13:11] fccoelho commented on #65
My old friend Beto de Almeida is the author of this library.

[2022-04-01 08:54] fccoelho commented on #64
@xmnlab found this that can help. Especially now that we already have SMTP services working.
https://github.com/apache/superset/discussions/13266

[2022-04-01 17:23] eduardocorrearaujo opened #68 "Information in the metadata tables"
In the issue #44 was defined that the metadata tables should have at least the following information:

[code]

I was wondering about a way to introduce also in this data a brief description of the content of the table. What do you think about it?

In this case, I was thinking about adding in the `collum_name` column the term `dataset` and fill the description in the `description` column.

[2022-04-01 17:58] eduardocorrearaujo opened #69 "Manage acess to the tables"
I'm creating this issue to us discuss some points to ensure the security of our database and avoid problems.

For example, anyone with an account in the epigraphhub is able to delete some dataset, change the name of the dataset or the columns and this can configure a problem since someone for mistakes could drop a table or change something that could result in an error in dashboards and codes crea

[2022-04-03 16:24] fccoelho opened #70 "Problem asynchronous queries"
Superset allows asynchronous queries through celery.

Since the move to the Docker deployment, asynchronous queries seem to have stopped working.

Maybe it has to do with the URI of the REDIS broker, which is currently set to localhost (is this right?)

maybe e can install flower to check if the tasks are being scheduled

[2022-04-04 07:34] fccoelho commented on #70
I disabled asynchronous query execution on the databases for now, but they are needed for queries that are longer than the timeout limit for the http request

[2022-04-04 15:03] eduardocorrearaujo opened #71 "World bank data tables to put in Epigrapphub."
Hi,

I open this issue to discuss what tables from world bank data we will put in the Epigraphhub. Here, I will put a csv with a list of the databases available:

[list_of_databases.csv](https://github.com/thegraphnetwork/EpiGraphHub/files/8410849/list_of_databases.csv)

[2022-04-05 08:36] fccoelho opened #72 "Add an Airflow container to our platform"
In order to start to test the migration of the data-collection tasks to apache-airflow we need and instance of airflow running that we can submit workflow DAGs to.

Here is the relevant documentation.
https://airflow.apache.org/docs/apache-airflow/stable/installation/index.html#using-production-docker-images

[2022-04-05 14:37] xmnlab commented on #72
nice! I will take a look into that.

[2022-04-05 14:43] fccoelho opened #73 "Change Favicon of Superset to the Graph Network Logo"

[2022-04-06 07:15] fccoelho commented on #73
![image](https://user-images.githubusercontent.com/140123/161917137-4f903181-4be2-44fb-af75-ee63b25d5f29.png)

[2022-04-06 22:09] xmnlab commented on #70
I think that it should work, because currently the epgh container is running with network in host mode.

[2022-04-06 23:02] xmnlab commented on #70
I enabled the option again to check the log:

51b34dae6227_docker_epigraphhub_1 |   util.warn(
51b34dae6227_docker_epigraphhub_1 | Triggering query_id: 548
51b34dae6227_docker_epigraphhub_1 | 2022-04-06 22:44:22,721:INFO:superset.sqllab.command:Triggering query_id: 548
51b34dae6227_docker_epigraphhub_1 | SQLite Database support for metadata databases will be removed             in a future version

[2022-04-07 12:05] xmnlab commented on #68
I am not super aware of this effort. But, if it will improve the data structure, i don't have any objection :)

[2022-04-07 14:12] eduardocorrearaujo commented on #68
Great!

I have another question, @fccoelho and @dcpcamara.
How should we define the source for the datasets with results, like the table with the forecasts and nowcast results? How we did this analysis in the source column do I should put `epigraphhub`?

[2022-04-07 14:13] #73 closed

[2022-04-07 14:16] fccoelho commented on #68
In this case, We can cite the code used for the analysis, maybe with the github link.

[2022-04-07 14:29] eduardocorrearaujo opened #77 "Insufficient Privilege problem"
I was trying to create some new tables in the database using the ssh tunnel and I receive this error message:

[code]

[2022-04-08 00:01] #63 closed

[2022-04-08 00:19] xmnlab commented on #65
epigraphhub_1 | 2022-03-24 13:25:57,637:WARNING:superset.db_engine_specs:Unable to load dialect <class 'sqlalchemy.dialects.mssql.adodbapi.MSDialect_adodbapi'>: type object 'MSDialect_adodbapi' has no attribute 'dbapi'

maybe related: https://github.com/apache/superset/issues/19109

[2022-04-08 02:15] #65 closed

[2022-04-08 21:22] xmnlab commented on #77
permissions on database granted. let me know if that works for you, @eduardocorrearaujo
I am closing this issue, but feel free to reopen that if the problem persists.

[2022-04-08 21:22] #77 closed

[2022-04-16 11:45] kendavidn commented on #62
Hello! Recently was recommended this site: https://beefree.io/ for building simple single-HTML-page sites.

You build with a drag-and-drop interface. Then you can export as a single, lightweight HTML page (images hosted online). It's free for basic features, with many good templates. Good resizing (mobile-responsive) behavior for all the templates. There is no fancy javascript or anything like tha

[2022-04-16 11:45] kendavidn commented on #62
<img width="485" alt="CleanShot 2022-04-16 at 13 45 29@2x" src="https://user-images.githubusercontent.com/71232724/163673653-c458907b-a285-40e5-922c-e5396240113e.png">

[2022-04-20 10:16] fccoelho commented on #62
Thanks @kendavidn !

I'll make sure to use some of these Ideas, but I'll  try to add some extra info for newcomers! Such as links for the documentation, libraries, etc!

[2022-04-20 19:14] #62 closed

[2022-05-01 16:24] xmnlab opened #85 "Preparation for superset 1.5"
In order to have the new superset 1.5.0 on conda-forge, we need to package two new libraries on conda-forge

- [x] hashids https://github.com/conda-forge/staged-recipes/pull/18808
- [x] sqloxide https://github.com/conda-forge/staged-recipes/pull/18811

[2022-05-02 08:06] fccoelho opened #86 "Update Welcome page"
We need to update welcome page to add a link to the User registration form.

[2022-05-05 05:48] fccoelho commented on #70
@xmnlab what's the status here?

[2022-05-05 05:52] fccoelho opened #89 "Add more languages to superset"
I think we should now add:
English UK (if available)
Spanish
German

[2022-05-05 15:47] xmnlab commented on #70
I hope to have it fixed by https://github.com/thegraphnetwork/EpiGraphHub/pull/83

the service is already working, now I need to check the async method there.

[2022-05-10 13:11] #89 closed

[2022-05-10 13:37] #86 closed

[2022-05-17 17:30] lbianchi opened #93 "Dockerize Shiny App Covid-19"
This issues is related to integrate shiny app to the docker
This link may be useful: https://www.r-bloggers.com/2021/05/dockerizing-shiny-applications/

[2022-05-17 17:33] lbianchi opened #94 "Modularize Shiny App functions to R library"
This issue is related to write the functions that are being used on the Shiny App as functions to the R library

[2022-05-17 17:34] lbianchi opened #95 "Documentation/Tutorial for Shiny App"
This issue is about write an documentation that works as tutorial for new comers, students and everyone that may be interest about writing, testing and deploying shiny apps

[2022-05-18 16:43] fccoelho opened #96 "Duplicates in Colombia COVID data table"
`casos_positvos_colombia` has now >60M lines.

If you run the following query:
[code]
You will find that there are about 6M distinct `id_de_caso`s. If you pick one and  run this other query:
[code]
You will get 39 copies of the same row.

So a deduplication must be run on the table, and the capture code must be modified to avoid inserting repeated rows in the future.

To delete the duplicates this

[2022-05-19 23:55] xmnlab opened #98 "forgot password"
ref: https://github.com/apache/superset/discussions/18427

[2022-05-20 18:30] fccoelho opened #99 "Wrong Link at the Epigraphhub logo"
The link associated with the Epigraphhub is wrong leading to a 404 when the user clicks on it.

[2022-05-21 05:20] fccoelho commented on #70
@xmnlab can we close this one?

[2022-05-21 05:23] fccoelho opened #101 "Change default role for new users"
The new users are being put in role `Public` which is basically the same as guest. New users should be given access to epigraphhub database and to the sql lab in read-only mode.

[2022-05-21 06:42] fccoelho commented on #101
I have created a new role called `Sandbox_write`  to collect permissions required to upload a csv, exceln and columnar files to Sandbox database and also delete datasets (which is not the same as dropping tables) belonging to the user.

Perhaps we can add a new role for new users combining this with some other we already set up such as the `publish_dashboard` role and maybe the `sql_lab` role as w

[2022-05-21 12:53] #70 closed

[2022-05-21 12:53] xmnlab commented on #70
This is already working on production :)

[2022-05-24 06:22] fccoelho commented on #101
We need to create a "Terms of usage" document that we share with users making it very explicit of can and cannot be done in the platform as well as what is the data retention policy for the data in the Sandbox database.

[2022-05-24 06:30] fccoelho opened #104 "Create a "Terms of Service" document"
Write a document that clarifies the conditions governing what users can and cannot do.

This ideally should be drafted by a lawyer, considering the laws of the country where the platform operates from.

This is an example: https://preset.io/terms-of-service-product-website/

[2022-05-25 07:38] fccoelho commented on #94
@lbianchi maybe this Issue should be moved to the R-epigraphhub repository, and given a more detailed view of what functions will be implementd, etc.

[2022-05-25 10:44] #96 closed

[2022-05-25 11:02] xmnlab opened #105 "Move host postgresql server to docker container"
Move host postgresql server to docker container.

this issue aims to record some discussions and best practice about how to proper move from a postgresql server on host to container.

common approaches:

1. create a named volume for the postgresql docker container and restore a dump from pg host to the pg container.
2. mount the postgresql data folder from host to the container data folder

[2022-05-25 11:55] xmnlab commented on #105
refs:

- https://nickjanetakis.com/blog/docker-tip-28-named-volumes-vs-path-based-volumes
- https://stackoverflow.com/a/70110881
- https://stackoverflow.com/a/49173474

[2022-05-25 14:38] fccoelho opened #107 "Enable Oauth2"
It would make it easier for our users if they could use their favorite Oauth2(google, github, etc) provider to login.

The documentation for this is here:
https://superset.apache.org/docs/installation/configuring-superset#custom-oauth2-configuration

[2022-06-01 02:50] #99 closed

[2022-06-01 03:29] #101 closed

[2022-06-02 14:03] eduardocorrearaujo opened #110 "Error when uploading an Excel file to the platform."
I tried to upload an Excel file to the platform and receive this error message:
<img width="897" alt="Captura de Tela 2022-06-02 às 11 02 44" src="https://user-images.githubusercontent.com/65051489/171647144-d9de753d-67fc-4baa-859b-c7c536690131.png">

[2022-06-03 14:09] xmnlab commented on #110
fixed on production. for now, production is using the branch #103
it should be merged on main very soon.

[2022-06-03 14:09] #110 closed

[2022-06-13 20:29] xmnlab commented on #85
superset 1.5 is already on production :)

[2022-06-13 20:29] #85 closed

[2022-06-13 20:30] xmnlab commented on #64
It is already on production.
IIRC the SMTP is not working again and I will open a PR for that soon.

[2022-06-13 20:30] #64 closed

[2022-06-13 20:32] xmnlab commented on #36
supersede  #72

[2022-07-04 16:17] xmnlab opened #115 "Add a link to epigraphhub discord"
Add a link to epigraphhub to our discord (https://discord.gg/KTqyBtAYwN):

- on the home page (https://github.com/thegraphnetwork/EpiGraphHub/blob/main/docker/superset/public_welcome.html)
- on the readme (https://github.com/thegraphnetwork/EpiGraphHub/blob/main/README.md)

Suggestion for the text:

[2022-07-20 14:18] #115 closed

[2022-07-20 14:21] xmnlab opened #117 "Check if the portainer.io resolve our needs for managing docker containers"
https://docs.portainer.io/v/ce-2.9/start/install

[2022-07-20 14:22] xmnlab opened #118 "Check how to integrate apache superset api to be used as a data access layer"
https://superset.apache.org/docs/api/#

[2022-08-04 11:37] fccoelho commented on #69
Is this still an issue @eduardocorrearaujo ? can we close it?

[2022-08-04 11:39] fccoelho commented on #57
Since then the builtin scatter plot has seen some improvements. closing this.

[2022-08-04 11:39] #57 closed

[2022-08-04 11:45] fccoelho commented on #36
What's the status of this issue, @xmnlab ?

[2022-08-04 11:46] fccoelho commented on #33
I think this can be closed, right @eduardocorrearaujo ?

[2022-08-04 11:52] fccoelho opened #120 "Start migrating data fetching to AirFlow"
As we will soon deploy an airflow instance to our server, we should start prototyping airflow versions of our data fetching scripts, and documenting the process.

This can be done on a local deploy of airflow, to iron out any bugs  before we can deploy in production, replacing our current cron jobs

[2022-08-04 12:05] fccoelho opened #121 "Improve landing page"
We need to update the EGH landing page [HTML template](https://github.com/thegraphnetwork/EpiGraphHub/blob/main/docker/superset/public_welcome.html) to add  some more information, such as logos of our partners, and links to other GRAPH projects such as the courses.

[2022-08-05 13:43] fccoelho opened #123 "[DATASET] Brazilian SUS data"
## Dataset description

The Brazilian "Sistema Unico de Saúde" has very complete datasets going back to the late 20th century.
This issue is to guide the development of regular collection of their datasets.

## Available API

We will use the Python library PySUS to access the open datasets. We will start with SINAN data, the disease surveillance database.
https://pysus.readthedocs.io/en/latest/SIN

[2022-08-08 19:13] eduardocorrearaujo opened #124 "[BUG]"
**Describe the bug**
Error when trying to filter the list of datasets by the schema in the platform.  Error message: ``` An error occurred while fetching datasets: Filter column: schema not allowed to filter. ```

![image](https://user-images.githubusercontent.com/65051489/183495598-72635ac3-c411-4e62-b890-df965028c7b7.png)

**Desktop (please complete the following information):**
 - OS:  iOS
 - B

[2022-08-09 13:04] xmnlab commented on #124
thanks @eduardocorrearaujo for caching that.
I will work on that later today.

[2022-08-10 20:02] eduardocorrearaujo opened #125 "[DATASET] Access to BigQuery google database"
## Dataset description

This issue is being created to discuss the benefits and disadvantages of connecting the BigQuery database with our web platform.

I think that it would be great to have access to it, but one possible disadvantage to keep in mind is the limitation of access to the big query by month.

You can find more information about it in this link: https://console.cloud.google.com/marke

[2022-08-11 14:19] esloch opened #127 "Optimize upsert call"
### Describe the bug

@eduardocorrearaujo  and @fccoelho, do we need to use the parameters **create_table** and **add_new_columns** with value *True* [here](https://github.com/thegraphnetwork/EpiGraphHub/blob/main/Data_Collection/CRON_scripts/foph_fetch.py#L30)?

[code]
[Notes](https://github.com/ThibTrip/pangres#notes)
It is recommanded to use this function with big batches of data as there is qu

[2022-08-16 13:18] fccoelho opened #129 "Include update EGH timetamp in metadata tables"
Our metadata tables currently contain descriptions about the dataset in a table and its meaning.

However, for many datasets stored in EGH, we have periodically updated data.

This issue proposes to add an extra entry in the metadata tables called `epigraphhub_timestamp` that will record the most recent date that dataset was updated.

Open to other suggestions  about how to accomplish this

[2022-08-18 19:16] fccoelho opened #130 "Create a deploy github action for dashboards"
We will be maintaining a lot of dashboards (stream lit or otherwise )going forward and we need to have a githubaction that whenever a new release is made, redeploys the code to the server, where a script can then restart the dashboard app based on some sort of inotify trigger.

There is some ideas of how to create such a script here: https://zellwk.com/blog/github-actions-deploy/
and some more doc

[2022-08-18 22:20] xmnlab commented on #130
could we move this to https://github.com/thegraphnetwork/epigraphhub-deployment ?

[2022-08-22 11:57] #68 closed

[2022-08-24 17:51] #72 closed

[2022-08-25 20:03] eduardocorrearaujo commented on #24
It's done in PR #165 on epigraphhub_py.

[2022-08-25 20:03] #24 closed

[2022-08-25 20:04] eduardocorrearaujo commented on #33
Yes.

[2022-08-25 20:04] #33 closed

[2022-08-25 20:08] eduardocorrearaujo commented on #7
@fccoelho I think this issue could be moved to the epigraphhub_py. If I am not wrong, @dcpcamara developed a script to access this data using R, right?

[2022-08-25 20:10] eduardocorrearaujo commented on #36
This issue is related to #120. Can we close one of them? @xmnlab

[2022-08-25 20:27] xmnlab commented on #36
as this one is old, I think that makes sense to keep this one opened.

[2022-08-25 20:29] eduardocorrearaujo commented on #129
I think about to possibilities:

1) Add a new column in the metadata table that would maintain this information.

2) Create a new table with three columns: `table_name`, `schema`, and `epigraphhub_timestamp`. So we could see the updated data of all the datasets together.

[2022-08-26 16:09] fccoelho commented on #7
This can be an issue on both repos, because it would be nice to have this feature for both languages

[2022-09-09 02:18] xmnlab commented on #124
@eduardocorrearaujo is this problem still happening?

[2022-09-09 12:59] eduardocorrearaujo commented on #124
Yes

[2022-09-21 16:26] xmnlab opened #135 "packaging: create a dev package (bleeding edge version (from main branch)) for superset"
It would be great to have a dev package (bleeding edge version (from main branch)) for superset

it seems that it has already some updates there that would fix some issues we have

we can adapt the idea from here:
https://github.com/xmnlab/ibis-framework-dev-feedstock/

I will create a new organization for this kind of projects on github

cc @esloch

[2022-09-23 14:17] fccoelho opened #136 "Feature: deploy Jupyterlite using Github pages"
Jupyterlite is a jupyter notebook server running on webassemply through pyodide.

We can benefit from having our own jupyterlite [running as a github page](https://jupyterlite.readthedocs.io/en/latest/quickstart/deploy.html) so that users can play with with epigraphhub examples code.

[2022-09-23 14:52] xmnlab commented on #136
sounds interesting . I will take a look into that!

[2022-09-23 14:54] xmnlab commented on #136
I need to check if all the dependencies would be available for wasm
another option is to use mybinder

[2022-09-23 15:03] xmnlab commented on #136
looks very nice .. I will play a bit with that today :)

[2022-09-25 13:26] fccoelho opened #137 "Create an Airflow DAG to Check Project services"
Create a simple DAG that will scan through the list of Web services of our platform to see if they are Up and responding accordigly. if the acess fails, it should send an email to admin@epgraphhub.org

This list should reside on a file (for example, `services.txt` ) on this repo that the dag can read from. In this way when we add a new webservice, we just have to edit that file:
### Initial conten

[2022-09-26 17:54] luabida commented on #137
I've created a separate branch to include all sort of tests using Airflow that will be merged into #133.

Request testing results (https://epigraphhub.org/covidch has returned an error as expected):
![image](https://user-images.githubusercontent.com/82233055/192346030-603c83e5-4285-4616-b59e-59fb14e98d49.png)

https://github.com/luabida/EpiGraphHub/pull/1

[2022-09-26 18:53] fccoelho opened #139 "[BUG] Swiss COVID dashboard is offline"
### Describe the bug

The dashboard website is offline

### To Reproduce

go to https://epigraphhub.org/covidch

### Expected behavior

live dashboard

### Screenshots

na

### Desktop

- Device
- OS:
- Browser:
- Version:

### Smartphone

- OS:
- Browser:
- Version:

### Additional context

_No response_

[2022-09-26 20:02] xmnlab commented on #139
fixed.

the services was not running.

[2022-09-26 20:02] #139 closed

[2022-10-05 23:10] xmnlab opened #140 "Use EpiGraphHub nightly from opensciencelabs conda channel"
Now that the superset nightly conda package is ready, it would be good to update the epigraphhub.

Steps:

- https://github.com/thegraphnetwork/EpiGraphHub/blob/main/conda/prod.yaml#L23 change from `superset 2.0.0` to `opensciencelabs::superset >=2.0.0`
- comment these two lines: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/conda/prod.yaml#L52-L53
- run `make conda-lock`
- uncomment ba

[2022-10-06 12:24] xmnlab opened #141 "Create a status page for epigraphhub services and airflow schedulers"

[2022-10-07 16:22] esloch commented on #123
[Done!](https://github.com/thegraphnetwork/epigraphhub_py/pull/179)

[2022-10-07 16:22] #123 closed

[2022-10-07 16:40] fccoelho commented on #136
I have done a deploy on my [github pages](https://fccoelho.github.io/jupyterlite), but it is still quite limited in what libraries it can install. so maybe we can wait for it to mature a lot more.

[2022-10-11 11:41] xmnlab commented on #136
Got it. Do you want me to work on the mybinder for epigrphhub?

[2022-10-11 12:11] fccoelho commented on #136
Honestly, I think we should go for something more scalable, that can also serve our external analysts for real work not to just browse documentation examples. If we're going to invest on this, perhaps we should look into [deploying jupyterhub](https://jupyterhub.readthedocs.io/en/stable/getting-started/institutional-faq.html).

[2022-10-11 12:56] xmnlab commented on #136
That would be great. Maybe we could try qhub?

[2022-10-12 12:41] fccoelho commented on #141
Suggestion: Use [H20 Wave](https://wave.h2o.ai/docs/getting-started) to build the status page. We can get started with a simple panel and increment it gradually.
introduction to the framework: https://www.youtube.com/watch?v=mTYz6WGocWQ

[2022-10-12 13:11] fccoelho opened #143 "Create dashboard template repository using H2O wave"
Allow analysts to quickly deploy  H2O Wave dashboards through containers.

H2O Wave excels at real-time dashboards:
https://wave.h2o.ai/docs/examples/dashboard

[2022-10-12 15:26] fccoelho commented on #143
Done: https://github.com/thegraphnetwork/wave-docker-template

[2022-10-12 15:26] #143 closed

[2022-10-13 13:17] luabida opened #144 "Fetch SINAN DAG"
Create a DAG that fetches data from SINAN Fetch module of epigraphhub_py.

NOTES:
This DAG will run once and capture all data of SINAN's diseases from 2007 to 2020.

[2022-10-13 17:49] luabida commented on #141
Sorry, wrong mention

[2022-10-13 18:22] luabida opened #146 "chore(social media): Create an aesthetic design for EpiGraphHub"
### Goal

To have template files to be opened by image editors, such as Gimp, Photoshop, etc.

### Details

The directory should contain different layers formats (text fonts, backgrounds, colors, effects..) in which will be possible to reproduce the same visual design in different resolutions and platforms, some examples:
- Thumbnails
   - Youtube, Facebook, Instagram Reels, Twitter, Linkedin and

[2022-10-13 18:33] luabida commented on #146
IBM example https://www.youtube.com/user/IBMbrasil/videos

[2022-10-13 18:40] luabida commented on #146
Intellij JetBrains example https://www.youtube.com/c/intellijidea/videos

[2022-10-13 18:41] luabida commented on #146
Breaking Italy example https://www.youtube.com/user/breakingitaly/videos

[2022-10-13 20:07] luabida commented on #146
I think we gotta start at the beginning here. Because this subject depends a lot on personal taste, my suggestion is to start picking the main colors for EpiGraphHub. The colors on the logo are:
Light Blue #109BE1
Black #040404

Any ideas on colors, should we reuse the colors we already have?

[2022-10-13 20:18] fccoelho commented on #146
We can use our logo on the thumbnail. I am attaching the SVG file here for reference. The font I used was `Saunder BRK`. It is a free font naturally.
![epigraphhub](https://user-images.githubusercontent.com/140123/195701020-5956af76-297d-4791-afe6-723cabec3eec.svg)

[2022-10-13 20:27] fccoelho commented on #146
I notice that many thumbnails use a human face as part of the thumbnail. Does anyone know of a successful channel that does not use a person on the thumbnail?

[2022-10-13 20:34] luabida commented on #146
We can also use sketches or draws, for example:
https://www.youtube.com/c/crashcourse/videos
https://www.youtube.com/c/inanutshell/videos (this is very hard, I think)

[2022-10-13 20:50] fccoelho commented on #146
That's a good Idea, but  we need to be able to keep it simple, we don't want to spend hours designing thumbnails.
I thought about using a face generator, but did not find a good enough open-source AI model.

[2022-10-13 21:02] luabida commented on #146
If the video has the webcam record, a simple frame can have its background removed and add a some detail in the borders.

[2022-10-14 10:36] fccoelho commented on #144
It actually should run every month or so to check for updated in the preliminary tables.

[2022-10-14 12:42] eduardocorrearaujo commented on #146
I think that's the best solution.

[2022-10-14 15:39] #137 closed

[2022-10-15 10:45] fccoelho commented on #136
Yes, let's do a test deploy for QHub. Closing this issue.

[2022-10-15 10:45] #136 closed

[2022-10-15 10:51] fccoelho commented on #127
@esloch `add_columns=True` is important, but maybe we can put it inside a try/except. Because it is not very common that they modify column names. So we try first with `add_columns=False`, and if it fails with try the current version. `create_table`, on the other hand, I think is not needed, because what this command does is just an insert.

[2022-10-15 10:54] fccoelho commented on #71
@eduardocorrearaujo is this issue still relevant?

[2022-10-19 16:14] eduardocorrearaujo opened #148 "[AIRFLOW DAG] Update covid ch dashboard"
### DAG Description

It's necessary to create dags to weekly update the results of the dashboard:
https://epigraphhub.org/covidch/

### Basic Workflow

_No response_

### More info

_No response_

[2022-10-19 16:47] luabida commented on #148
@eduardocorrearaujo could you provide more information about the DAG, for example:
- what would be the expected result?
- are the modules/methods for the dag already written? if so, where can it be found?
- when the DAG should run? daily? weekly? triggered by another DAG?

[2022-10-19 18:00] eduardocorrearaujo commented on #148
what would be the expected result?
This dag would pull the data from the epigraphhub database and apply some machine learning models in this data to forecast it. After making the forecast the dag should upload the data frame with the forecasted values in the database.

are the modules/methods for the dag already written? if so, where can it be found?
This method uses some functions in the epigraph

[2022-10-19 18:03] eduardocorrearaujo commented on #105
is it solved?

[2022-10-21 14:30] #140 closed

[2022-10-24 12:09] luabida commented on #148
I've created a template with the start and end tasks (triggered by `foph` - `done` task). Let me know if you have any questions about this template.

[2022-10-25 17:33] luabida commented on #148
I think if you wanna use the CSV with the data that is going to DB before being deleted, just delete the task `remove_csv_dir` and let the other DAG take care of deleting it, this way you would get rid of querying the database.

[2022-10-25 17:34] luabida commented on #148
Sorry, I'm not quite sure if I understood the problem here

[2022-10-25 19:44] fccoelho commented on #148
Yes. The models don't need to be re-trained very often. Only the prediction  has to be generated every week.
but the scipt to train the models should be versioned somewhere, even if it is not run by a DAG.

[2022-10-25 19:47] fccoelho commented on #144
@luabida and  @esloch we should put some effort into this DAG because there is a risk that we loose access to the data in the FTP repository, so we should be capturing all of it as soon as possible.

[2022-10-25 19:47] luabida commented on #148
The DAG could still be triggered by a external task and have a 2 months interval at the same time, the version would be the timestamp of the dag run, something lilke: `manual__2022-10-17T14:06:34.055306+00:00`

[2022-10-28 16:31] eduardocorrearaujo commented on #148
@fccoelho @luabida the data collection code is saved into the path: `epigraphhub.data.data_collection.foph` of epigraphhub. After the refac that you are doing, where you think the functions used to upload the results of the dashboard should be stored? I think about something like: `epigraphhub.apps.switzerland.foph` what are your toughts about it? I just would like to remember that this code is us

[2022-10-28 16:36] luabida commented on #148
From my point of view, `apps` implies that `switzerland` is an application. Wouldn't be better something like `epigraphhub.models.switzerland.foph`?

[2022-10-28 16:39] eduardocorrearaujo commented on #148
With apps I refer to the fact that this code is related to a dashboard application created by epigraphhub. So this code is not general. The functions used in this script already come from epigraphhub.analysis.forecast_models.ngboost_models

[2022-10-28 20:13] fccoelho commented on #148
Any code that is specific to a single dashboard does not belong in the library. Keep that in mind.

[2022-10-28 20:55] eduardocorrearaujo commented on #148
In this case, I don't know where I should put this code, since in the `Epigraphhub` repo, in my understanding, we should put the less code possible. So my idea was to save the functions in the library and just import them to run the dags in the epigraphhub repo, in the same way, Lua did with the data collection scripts.

[2022-10-28 23:18] fccoelho commented on #148
Code that is specific to the dashboard and nothing more can stay in the dashboard repo.

[2022-10-29 02:11] eduardocorrearaujo commented on #148
But, the code should be used by the airflow dags. How could I import it if the code is saved in the COVID-CH-dashboard?

[2022-10-29 03:12] fccoelho commented on #148
In that case, it can live in a standalone executable script that is run by the DAG. For that, the Airflow container may need to mount an external directory with this and other such scripts

[2022-10-29 12:30] eduardocorrearaujo commented on #148
ok

[2022-10-31 14:50] xmnlab opened #153 "[AIRFLOW DAG] check minio endpoint with airflow DAG for status check"
### DAG Description

check minio endpoint with  airflow DAG for status check

ref: https://github.com/thegraphnetwork/EpiGraphHub/pull/152#discussion_r1009475817

### Basic Workflow

_No response_

### More info

_No response_

[2022-10-31 14:54] xmnlab opened #154 "docs: Improve MinIO section in the readme file"
Improve MinIO section in the readme file: https://github.com/thegraphnetwork/EpiGraphHub/blob/main/README.md#minio

it should have:

* [ ] how to access the UI
* [ ] how to create a bucket
* [ ] how to upload files using pandas
* [ ] how to access files using pandas

[2022-10-31 14:54] xmnlab commented on #154
@YurelyCamacho could you work on this task?

[2022-10-31 15:06] YurelyCamacho commented on #154
Hola @xmnlab no conozco esto ¿Dónde puedo guiarme?
Comenzaría con esto luego de avanzar en la documentación acá https://github.com/thegraphnetwork/epigraphhub-lib-docs

[2022-10-31 15:10] xmnlab commented on #154
this is the official documentation:
https://min.io/docs/minio/kubernetes/upstream/

[2022-10-31 23:59] xmnlab opened #157 "devops: Migrate superset from sqlite to postgres"
refs:

* https://stackoverflow.com/questions/64057822/apache-superset-migrate-from-sqlite-to-postgres
* ...

[2022-11-01 00:49] xmnlab opened #158 "superset redis maybe is not working"
some references:
* https://stackoverflow.com/a/72145437

[2022-11-01 15:13] xmnlab opened #161 "Create a container for nginx"